<header>
    <nav id="site-menu">
        <ul>
            <li {% if include.content == "" %}aria-current="page"{% endif %}><a href="/"><img src="/assets/icons/favicon.svg" alt=""/>secureblue</a></li>
            {% for i in site.pages %}
                {% if i.permalink != "/" %}
                    {% assign slashless_permalink = i.permalink | remove: "/" %}
                    <li {% if include.content == slashless_permalink %}aria-current="page"{% endif %}><a href="{{ i.permalink }}">{{ i.short_title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>
<hr>