{% assign current_page = include.content | remove: ".md" | downcase %}
<header>
    <nav id="site-menu">
        <ul>
            <li {% if current_page == "/" %}aria-current="page"{% endif %}><a href="/"><img src="/assets/secureblue.svg" alt=""/>secureblue</a></li>
            <li {% if current_page == "code-of-conduct" %}aria-current="page"{% endif %}><a href="/code-of-conduct">Code of conduct</a></li>
            <li {% if current_page == "contributing" %}aria-current="page"{% endif %}><a href="/contributing">Contributing</a></li>
            <li {% if current_page == "donate" %}aria-current="page"{% endif %}><a href="/donate">Donate</a></li>
            <li {% if current_page == "faq" %}aria-current="page"{% endif %}><a href="/faq">FAQ</a></li>
            <li {% if current_page == "images" %}aria-current="page"{% endif %}><a href="/images">Images</a></li>
            <li {% if current_page == "kargs" %}aria-current="page"{% endif %}><a href="/kargs">kargs</a></li>
            <li {% if current_page == "postinstall-readme" %}aria-current="page"{% endif %}><a href="/postinstall-readme">Postinstall Readme</a></li>
            <li {% if current_page == "preinstall-readme" %}aria-current="page"{% endif %}><a href="/preinstall-readme">Preinstall Readme</a></li>
            <li {% if current_page == "recommended" %}aria-current="page"{% endif %}><a href="/recommended">Recommended</a></li>
            <li {% if current_page == "security" %}aria-current="page"{% endif %}><a href="/security">Security</a></li>
            <li {% if current_page == "support" %}aria-current="page"{% endif %}><a href="/support">Support</a></li>
            <li {% if current_page == "userns" %}aria-current="page"{% endif %}><a href="/userns">userns</a></li>
        </ul>
    </nav>
</header>