<div class="hero">

    <div>
        <h1 id="secureblue"><a href="#secureblue">secureblue</a></h1>
        <p>A security-focused desktop and server linux operating system.</p>
        <a class="button" href="/install">Get secureblue</a>
    </div>

    <figure class="device-img">
        <img class="laptop-img" width="288" height="171" src="/assets/some-random-laptop.svg" alt=""/>
        <img class="laptop-logo-img" width="108" height="108" src="/assets/icons/favicon.svg" alt=""/>
    </figure>

</div>