<div class="content hero">

    <div>
        <h1><a href="#secureblue">secureblue</a></h1>
        <p>Offering hardened operating system images and the hardened-chromium package. Developed collaboratively as an open source project.</p>
        <a class="button" href="/install">Get secureblue</a>
    </div>

    <figure class="device-img">
        <img class="laptop-img" width="288" height="171" src="/assets/some-random-laptop.svg" alt=""/>
        <img class="laptop-logo-img" width="120" height="120" src="/assets/icons/favicon.svg" alt=""/>
    </figure>

</div>